<%-  include("partials/header.ejs") %>

<div class="brandName my-3">
  <h2>WorkDaily</h2> 
</div>

<div class="midSection">
  <div class="content">
        <div class="currentDate"> 
          <% if (locals.dateOfTheDay) { %>
            <h3><%= dateOfTheDay %></h3>
          <%} %>
        </div>
        <div id="container1" class="my-4" >
            <div class="tasksAdded">
                 <% if (locals.tasks) { 
                  for (var i=0;i<tasks.length;i++){ %>
                  <div class="container-2">
                         <li> <input type="checkbox" id="task<%= i %>" name="check" value="<%=tasks[i]%>" /><label for="task<%= i %>"></label>
                          <%= tasks[i] %></li>
                  </div> 
                  <hr>
                  <%} }%>
              </div>
              <form action="/submitWeek" method="post">
                <input type="text" name="fData" placeholder="Duties For The Day." required autocomplete="off" class="my-3 mx-2">
                <button id="submit">+</button>
              </form>

         </div>
  </div>
</div>
  
<%-  include("partials/footer.ejs") %>